.home-page{
  display: flex;
  flex-direction: column;
}

h1{
  color: blueviolet;
}

h5{
  color: darkcyan;
}


.btn.btn-info{
  background-color: rgb(90, 207, 188);
  color: blueviolet;
  font-weight: 600;
  border: 3px solid blueviolet;
  width: fit-content;
}