.quantitPicker label,  .quantitPicker button{
  display: inline-block;
  margin: 0 5px;
}

.quantityLabel{
  color: black;
  margin: 5px;
  font-weight: 700;
}

.btn.btn-info.btn-sm {
  color: white;
  background-color: rgb(164, 76, 247);
  border-color: rgb(164, 76, 247);
  font-size: larger;
  font-weight: 700;
}